.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 260px;
  left: 1000px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal_content {
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(222, 4, 4, 0.732);
  width: 400px;
    height: 150px;
  transform: scale(0.5);
  transition: 0.4s all;
}
.modal_content.active {
    transform: scale(1);
}
.button-del {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 380px;
}